    html {
        min-height: 100%;
        position: relative;
    }
    
    body {
        margin: 0;
        margin-bottom: 40px;
        background-color: rgb(238, 238, 185);
    }
    
    .cabecera {
        margin: 0 auto;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }
    
    .container-fluid {
        background-color: rgb(51, 51, 192);
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    .navbar-brand {
        font-weight: bold;
        font-size: 30px;
    }
    
    .nav-link {
        color: white;
        font-weight: bold;
        font-size: 20px;
        font-family: florence, cursive;
    }
    
    #Seccion-primer-parrafo {
        position: relative;
        margin-top: 13%;
    }
    
    .seccion-segundo-parrafo {
        margin-top: 8%;
    }
    
    #primer-parrafo {
        width: 50%;
        margin: 20px auto;
        text-align: center;
        font-size: large;
        font-family: 'Handlee', cursive;
        color: black;
    }
    
    #parrafo_dos {
        padding-left: 140px;
        width: 95%;
        text-align: left;
        font-size: large;
        font-family: 'Handlee', cursive;
        color: black;
    }
    
    #foto_dos {
        float: left;
        height: 130px;
    }
    
    #aside-horario {
        background-color: lightgreen;
        margin-right: -5%;
        margin-left: -30%;
        padding-top: 1px;
        padding-right: 12px;
        padding-bottom: 11%;
        padding-left: 10px;
        border-radius: 10px;
    }
    
    table,
    th,
    td {
        border: 2px solid #cecece;
        border-collapse: collapse;
        text-align: center;
        table-layout: fixed;
    }
    
    .horario {
        background-color: #dd481b;
        font-weight: bold;
        color: white;
    }
    
    #tabla_horario {
        margin-right: -50px;
        height: 180px;
    }
    
    #aside_pelicula {
        background-color: #db37b5;
        padding-left: 10px;
        margin-right: -90px;
        margin-bottom: 10%;
        padding-top: 1px;
        padding-bottom: 2%;
        border-radius: 10px;
    }
    
    #video {
        width: 350px;
    }
    
    #aside_habilidades {
        background-color: #fcbf49;
        padding-left: 10px;
        margin-right: -20px;
        padding-top: 1px;
        padding-bottom: 37%;
        border-radius: 10px;
    }
    
    #div-galeria {
        padding-bottom: 10px;
        margin-bottom: 25px;
    }
    
    .titulos {
        border: 4px dashed #20bcd5;
        font-weight: bold;
        padding: 7px;
        font-family: 'Handlee', cursive;
        font-size: 23px;
    }
    
    .separacion-con-titulos {
        margin-top: 15px;
    }
    
    #formulario {
        background-color: yellowgreen;
        width: 35%;
        margin-left: 40%;
        padding-top: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        border-radius: 10px;
    }
    
    #sigueme {
        width: 35%;
        margin-left: 40%;
        margin-top: 12px;
        margin-bottom: 5%;
        padding-top: 50px;
        padding-left: 13%;
    }
    
    #div-iconos-sigueme {
        margin-top: 20px;
        margin-left: -40px;
    }
    
    .iconos-sigueme {
        height: 45px;
        width: 45px;
        border-radius: 50%;
        border-style: solid;
        border-color: lightblue;
    }
    
    .social {
        position: fixed;
        left: 0px;
        top: 200px;
        z-index: 2000px;
    }
    
    .social ul {
        list-style: none;
    }
    
    .social ul li a {
        display: inline-block;
        color: #fff;
        background: #000;
        padding: 10px 15px;
        text-decoration: none;
        -webkit-transition: all 500ms ease;
        -o-transition: all 500ms ease;
        transition: all 500ms ease;
    }
    
    .social ul li .icon-whatsapp {
        background: green;
    }
    
    .social ul li .icon-telegram {
        background: blue;
    }
    
    .social ul li .icon-mail {
        background: #666666;
    }
    
    .social ul li a:hover {
        background: #000;
        /* Cambiamos el fondo cuando el usuario pase el mouse */
        padding: 10px 30px;
        /* Hacemos mas grande el espacio cuando el usuario pase el mouse */
    }
    
    .pie-pagina {
        background-color: black;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 60px;
        color: white;
        text-align: center;
        padding-top: 15px;
    }
    
    .text-pie {
        font-size: small;
    }
    /* CSSS PARA LAB05*/
    
    #titulo {
        text-align: center;
        font-weight: bold;
        font-family: "cursive", fantasy;
    }
    
    #section-uno {
        width: 40%;
        height: 90px;
        float: left;
        margin-top: 20px;
        margin-left: 50px;
    }
    
    #aside-boton {
        width: 40%;
        height: 90px;
        float: right;
        margin-top: 20px;
        margin-right: 150px;
    }
    
    #section-dos {
        width: 30%;
        height: 130px;
        float: left;
        margin-top: 100px;
        margin-left: 180px;
    }
    
    #aside-texto {
        width: 30%;
        height: 130px;
        float: right;
        margin-top: 100px;
        margin-right: 350px;
    }
    
    .tabla {
        border-style: none;
    }
    
    .tabla tr td {
        border-width: 5px;
        border-color: rgb(238, 238, 185);
        text-align: left;
    }
    
    .estilo-input {
        border-color: orangered;
    }
    
    .fondo-azul {
        background-color: blue;
        color: white;
    }
    
    .fondo-anaranjado {
        background-color: orangered;
        color: white;
    }
    
    #boton-extraer {
        background-color: yellow;
        border-style: none;
        width: 100px;
        height: 33px;
        border-radius: 3px;
        color: white;
    }
    
    #boton-colorear {
        background-color: orangered;
        border-style: none;
        width: 100px;
        height: 33px;
        border-radius: 3px;
        color: white;
    }
    
    #nombre-apellido {
        width: 300px;
    }
    
    #boton-extraer:hover {
        background-color: lawngreen;
    }
    
    #boton-colorear:hover {
        background-color: lawngreen;
    }